body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(107, 96, 96, 0.834);
}
#start-button{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background: linear-gradient(rgb(62, 75, 62),rgb(87, 87, 56),rgb(58, 58, 87));
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    
}
#start-button:hover {
     /* Background color when hovered */
    box-shadow: 0px 0px 20px rgb(68, 68, 189);
    letter-spacing: 0.5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.box{
    height: 6.3rem;
    width: 6.3rem;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px;
}
.green{
    background-color: green;
}
.red{
    background-color: rgba(189, 17, 17, 0.53);
}
.yellow{
    background-color: rgba(186, 186, 22, 0.603);
}
.blue{
    background-color: rgba(22, 22, 190, 0.675);
}
.flash{
    background-color: white;
}
.user{
    background-color: rgb(248, 240, 245);
}
